.logo{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
}
h1{
    font-size: 50px;
}
strong {
    color:blue
}
.dati {
    color: #808080 ;
    line-height: 0%;
}
.photo {
    line-height: 0%;
}