.logo{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
}
h1{
    font-size: 50px;
}
strong {
    color:blue
}
.dati {
    color: #808080 ;
    line-height: 0%;
}
.photo {
    line-height: 0%;
}
 table {
    border-collapse: collapse;
 }
.foto1 {
    background-image: url(../img/graph.jpg);
    background-size: 200px;
    width: 320px;
    height: 208px;
    background-repeat: no-repeat;
    color: white;
 }
  
 .foto2 {
    background-image: url(../img/monitor.jpg);
    background-size: 200px;
    width: 320px;
    height: 208px;
    background-repeat: no-repeat;
    color: white;
 }
